h1{
    color: white;
    margin-left: 100px;
}
nav{
    background-color: rgb(88, 88, 88);

}
.btn{
    border: 1px solid black;
    border-radius: 0;
    color: white;
    margin-right:30px;
    background-color: black;
    border-radius: 5px;
 }
 .background-div{
   background-color: rgb(255, 255, 255);
  
   
    justify-content: center;
  }
  .tag-line{
    margin-left: 400px;
    
    margin-top: 200px;
    width: 530px;
    border: 2px solid;
    border-radius: 50px;
    padding: 70px;
    padding-left: 80px;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    
   
 
  }
  