<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-light ">
    <div class="container-fluid">
        <h1 >Angular To-Do App</h1>
        <div class="d-flex">
          
          <button class="btn" routerLink="/dashboard">List of Tasks</button>
            <button class="btn"  routerLink="add-task">
                Add Task
            </button>
        </div>
    </div>
</nav>
<div class="background-div" style="background-image: url('/todoApp/src/assets/background.jpg');">
<div class="row">
  <div class="col-4">
    <h2 class="tag-line">Welcome to TO-DO LIST Application</h2>
  </div>
</div>
</div>
  <!-- <app-dashboard></app-dashboard> -->
  <router-outlet></router-outlet>
</body>

</html>