
<div class="addtask-form">
  <div style="margin-left:50px;">
    <i-feather name="arrow-left" routerLink="/"></i-feather>
  </div> 
    <div class="row mb-3">
        
      
<form [formGroup]="formValue"> 
    <div class="form-row">
      <div class="form-group col-md-12">
        <h3>Add New Task </h3>
        <hr>

        <div class="form-floating mb-3">
            <input type="name" formControlName="taskName" required class="form-control" id="floatingInput" placeholder="task">
            <label for="floatingInput">Task name</label>
          </div>
          <div class="form-floating mb-3">
            <textarea type="text" formControlName="taskDetails" required class="form-control" id="floatingPassword" placeholder="details" style="height:100px"></textarea>
            <label for="floatingPassword">Task Details</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" formControlName="taskPriority" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Priority Level</option>
              <option value="1">High</option>
              <option value="2">Medium</option>
              <option value="3">Low</option>
            </select>
            <label for="floatingSelect">Select option</label>
          </div>
        
          <div class="form-floating mb-3">
            <input type="date" formControlName="completionDate" required class="form-control" id="floatingDate" placeholder="date"/>
            <label for="floatingDate">Date Of Completion</label>
          </div>
          
    <div class="submit-btn">
        <button type="submit" class="btn" (click)="postTaskDetails()" >CREATE TASK</button>
    </div>
      </div>
    </div>
  </form>
</div>
</div>