h1{
    color: white;
    margin-left: 500px;
}
nav{
    background-color: rgb(88, 88, 88);

}
.btn{
    border: 1px solid black;
    border-radius: 0;
    color: white;
    margin-right:30px;
    background-color: black;
 }
 .example-container{
    margin-top: 90px;
 }
 table {
    width: 100%;
  }